.skill-or-job-main {
  margin: 40px 50px;
}

.skill-or-job-wrapper {
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-gap: 30px;
}

.skill-or-job-details {
  background-color: #fff;
  padding: 20px;
}

.skill-or-job-main-title {
  font-weight: bold;
}

.skill-or-job-description {
  font-weight: bold;
  margin: 0;
}

.skill-or-job-description-content {
  margin-bottom: 40px;
}

.related-jobs {
  margin-bottom: 30px;
  margin-top: 0;
}

.related-skills-wrapper {
  background-color: #d9d9d9;
  padding: 20px;
}

.related-skills-title {
  margin: 0 0 20px 0;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .skill-or-job-main {
    margin: 40px 30px;
  }
  .skill-or-job-wrapper {
    display: block;
  }
  .skill-or-job-details {
    margin-bottom: 20px;
  }
}
